{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('.static', filename='index.js') }}"></script>
    <script>
    window.clear_wallet.addr = "{{ addr }}";
    </script>
{% endblock %}
{% block title %}home{% endblock %}
{% block content %}
<span id="main-links">
    <a href="{{ url_for('logout')}}">(logout)</a> &ndash;
    (<span title="{{ addr }}" class="my-addr">{{ "<b>"|safe ~ addr[:10] ~ "</b>"|safe ~ "..." }}</span>)
</span>
{% endblock %}