{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('.static', filename='index.js') }}"></script>
    <style>
    .sh {
        width: 40px;
    }
    #margin-top-buttons {
        display: inline-block;
        margin-top: 5px;
    }
    </style>
{% endblock %}
{% block title %}login{% endblock %}
{% block content %}
<p>
    You can find these details in your <b>bloostamp</b> file.<br>
    <i>address</i> is the first part, <i>passkey</i> is the second (as separated by colons).<br>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <b>{{ form.address.label }}</b><br>
        {{ form.address(size=40) }}<br>
        <b>{{ form.passkey.label }}</b><br>
        {{ form.passkey(size=40) }}<br>
        <span id="margin-top-buttons">
            <input type="submit" class="button sh" value="login">
            <input type="reset" class="button red sh" value="reset">
        </span>
    </form>
</p>
{% endblock %}