* {
    /*transition: all 0.15s linear 0s;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div[id^="block-"] h2 {
    border-bottom: 1px solid #ccc;
}

div[id^="block-"] h2:after {
    content: ":";
}

/***/

#spinner {
    /*display: inline-block;*/
    padding: 5px;
    float: left;
    display: none;
}

#retry-query {
    display: none;
}

#spinner:hover, #retry-query:hover, #refresh-query:hover {
    background: none;
}

.transition {
    transition: all 0.15s linear 0s;
}

.f-left {
    float: left;
}
.f-right {
    float: right;
}

#main-heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #143352;
    height: 40px;
    z-index: 3;

    font-size: 125%;
    font-family: 'Segoe UI', sans-serif, inherit;
    font-weight: normal !important;

    opacity: 0.85;
}

#main-heading:hover {
    opacity: 1;
}

#main-heading nav {
    padding: 0 5px;
    width: 960px;
    margin: 0 auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

nav a, nav span {
    display: inline-block;
    line-height: 40px;
    color: #FFFFFF !important;
    padding: 0 10px;
}

nav a:hover, nav span:hover {
    background-color: #194067;
}

body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #EBF2F5;
    color: #6F6F6F;
    margin: 0 auto;

    height: 100%;
    position: relative;
}

/***/

#main-block {
    position: absolute;
    background: #ffffff;
    padding: 0px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 28px;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header {
    color: #2BA6CB;
    display: inline-block;
}

.close-btn {
    cursor: pointer;
}

hr {
    /*border: 1px dashed #000;*/
}

.button {
    padding: 2px 4px;
    background-color: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button:hover {
    background-color: #356094;
    text-decoration: none;
}

.button:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #2E5481;
}

.button.green {
    background-color: #5bb75b;
    border-color: #51a351;
}

.button.green:hover, 
.button.green:active {
    background-color: #51a351;
}

.button.red {
    background-color: #da4f49;
    border-color: #bd362f;
}

.button.red:hover,
.button.red:active {
    background-color: #bd362f;
}

.button.orange {
    background-color: #faa732;
    border-color: #f89406;
}

.button.orange:hover,
.button.orange:active {
    background-color: #f89406;
}

.button.cyan {
    background-color: #49afcd;
    border-color: #2f96b4;
}

.button.cyan:hover,
.button.cyan:active {
    background-color: #2f96b4;
}


.container_12 {
    color: #000000;
    background-color: #EBF2F5;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #1F1F1F;
}

a:visited {
    color: #5C5C5C;
}

a:hover, a:active {
    color: #757575;
}

a.no_hover:link, a.no_hover:hover, a.no_hover:visited, a.no_hover:active {
    color: inherit;
}

.one-column-emphasis
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 25px;
    width: 600px;
    text-align: left;
    border-collapse: collapse;
}

.one-column-emphasis th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}

.one-column-emphasis td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}

.one-column-emphasis tr:nth-child(2n)
{
    background: #e8edfe;
}

.one-column-emphasis tr:hover td
{
    color: #339;
    background: #d6ddff;
}

.one-column-emphasis tr:hover .green
{
    color: #4DBD33;
}
.one-column-emphasis tr:hover .red
{
    color: #F00;
}

#flashes {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    z-index: 1001;
}

.flash {
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid;
    margin: 0px;
    padding: 8px 8px 8px 8px;
    width: 100%;
    font: bold 14px verdana;
    -moz-box-shadow-bottom: 0 0 5px #888;
    -webkit-box-shadow-bottom: 0 0 5px#888;
    box-shadow-bottom: 0 0 5px #888;
    text-shadow: 2px 2px 2px #ccc;
    z-index: 1000; /* Above everything! */
}

.flash-info {
    color: #00529B;
    background: #BDE5F8;
}
.flash-success {
    color: #4F8A10;
    background: #DFF2BF;
}
.flash-warning {
    color: #9F6000;
    background: #FEEFB3;
}
.flash-error {
    color: #D8000C;
    background: #FFBABA;
}

#credits {
    position: fixed;
    bottom: 5px;
    right: 5px;
}